
.feed {
	position: relative;
	margin: auto;
	top: 50px;
	width: 80%;
	min-height: 1000px;
	background-color: #DDEDFF;
}

.tableFeed {
	position: relative;
	top: 102px;
	float: right;
	width: 70%;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 100%;
	/*background-color: #EEEEFF;*/
}
