
.feed {
	position: relative;
	margin: auto;
	top: 50px;
	width: 80%;
	min-height: 1000px;
	/*background-color: #DDEDFF;*/
}

.teachLoad {
	position: absolute;
	float: right;
	right: 10px;
	text-align: right;
}