.listaa {
	position: absolute;
	margin: left;
	left: 2.5%;
	top: 80px;
	width: 60%;
	min-height: 1000px;
	/*background-color: #DDEDFF;*/
}

.sideStudent {
	position: fixed;
	top: 80px;
	right: 2.5%;
	width: 30%;
	min-height: 100%;
	/*background-color: #EEEEFF;*/
}

.functions{
	position: fixed;
	bottom: 20px;
}

.tdStyle {
	border-style: solid;
	text-align: center;
	font-size: 15px;
	font-family: Arial;
	white-space: pre;
}


.classification {
	font-family: Times New Roman;
	font-size: 25px;

	border-style: solid;
	text-align: center;
	font-family: Arial;
	white-space: pre;

}
.advisers {
	font-size: 18px;

	border-style: solid;
	text-align: center;
	font-family: Arial;
	white-space: pre;
}

.aSave {
	float: left;
	margin-left: 21%;
	width: 27%;
}

.aCancel {
	float: right;
	margin-right: 21%;
	width: 27%;
}

/*recently added: 31 March 2018*/

.leftHeader{
	width: 20%;
}

.dividerBottom{
	position: relative;
	padding-top: 50%;
}

.sideBottom{
	position: relative;
	padding-top: 30%;
}

.updateAdvPanel{
	position: relative;
	padding: 0% 10% 0% 10%;
	height: 100%;
}

#s2{
	position: relative;
	float: left;
	width: 25%;
	left: 10%;
}

#c2{
	position: relative;
	float: right;
	width: 25%;
	right: 10%;
}

#mod2{
	height: 60% !important;
}