.name {
	position: absolute;
	float: left;
	text-align: left;
	letter-spacing: 4px;
	font-size: 64px;
	font-weight: bold;
	top:52%;
	left:27%;
}

.settingsBtn {
	position: absolute;
	float: right;
	top: 65%;
	right: 6%;
	width:150px;
}

hr {
	position: relative;
	top: 90px;
}

.feed {
	position: relative;
	top: 50px;
	width: 80%;
	min-height: 1000px;
	background-color: red;
}

.tableFeed {
	position: relative;
	top: 102px;
	/*float: right;*/
	width: 70%;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 100%;
	background-color: #EEEEFF;
}

.side {
	position: relative;
	top: 102px;
	float: left;
	width: 30%;
	min-height: 100%;
	background-color: #EEEEFF;
}

.profilePicture {
	position: absolute;
	top: 30%;
	left: 5%;
	width:25%;
	height:25%;
}

.add {
	position: relative;
	float: right;
	padding: 20px;
	z-index: 0;
}