.left {
	position: fixed;
	left: 0px;
	width: 50%;
	height: 100px;
	background-color: #00bfa5;
	text-align: center;
	padding: 25% 0 50% 0;
 }

.right {
    position: absolute;
    right: 0px;
    width: 50%;
    padding-top: 200px;
}

.inputs {
	width: 60%;
	margin: auto;
}

.center {
	margin: auto;
}