.topnav {
	position: fixed;
	top: 0px;
	height: 57px;
	width: 100%;
	background-color: #00bfa5;
	z-index: 2;
}

#sidenav-overlay {
	z-index: 3;
	margin-left: 300px;
}

.navbar-fixed {
	z-index: 999;
}

.topnavText {
	position: relative;
	text-align: center;
	top: -50px;
	letter-spacing: 4px;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.logoutPanel{
	position: relative;
	bottom: 10%;
}

.logoutNo {
	position: absolute;
	right: 30%;
}

.logoutYes{
	position: absolute;
	left: 30%;
}