.topnav {
	position: fixed;
	top: 0px;
	height: 57px;
	width: 100%;
	background-color: #66CDAA;
	z-index: 1;
}

.topnavText {
	position: relative;
	text-align: center;
	top: -50px;
	letter-spacing: 4px;
	font-size: 32px;
	font-weight: bold;
	color: white;
}